# Web scraping and parsing
beautifulsoup4==4.12.3
requests==2.31.0
newspaper3k==0.2.8
lxml==5.2.1
lxml_html_clean==0.1.1

# NLP processing and ML libraries
nltk==3.8.1
textblob==0.17.1
scikit-learn==1.4.1.post1
transformers==4.39.3
torch==2.0.1  # Ensure PyTorch is available

# Data handling
pandas==2.1.1

# User interface for summarizer app
streamlit==1.33.0

# Translation module
deep-translator==1.10.1  # Reliable alternative to googletrans

# Text-to-Speech for summaries
gTTS==2.5.1
